.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 30rem;
  height: fit-content;
  border-radius: 0.5rem;
}

.closeBtn {
  position: relative;
  top: 1rem;
  left: 27.5rem;
  cursor: pointer;
}

.formContainer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
