.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 3rem;
  border-radius: 0.5rem;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}
